

*,
*::before,
*::after {
    box-sizing: border-box;
font-family: "Montserrat", sans-serif;
}

h1{
    margin: 1vh 0;
}

/* set the font size */
h1 {
    font-size: 48px;
}

/* set the font weight */
h2 {
    font-weight: 700;
}

/* set the font color */
p {
    color: #333;
}

/* add font styling */
em {
    font-style: italic;
}

/* set letter spacing */
span {
    letter-spacing: 2px;
}

/* set line height */
ul {
    line-height: 1.5;
}

/* set text decoration */
a {
    text-decoration: none;
}

/* add text shadow */
h3 {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.body-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.paitings-wrapper{
    display: flex;
    flex-direction: column;
}
.painting{
    max-width: 100%;
        height: auto;
}

.custom-form{
    display: flex;
    gap:2vw
}

/* hide default input styles */
.custom-input {
    display: none;
}

/* show the default input when it's focused */
.custom-input:focus {
    display: inline;
    width: 100%;
    height: 100%;
    padding: 8px;
    font-size: 16px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: transparent;
}

.custom-input {
    display: inline;
    width: 100%;
    height: 100%;
    padding: 8px;
    font-size: 16px;
    border: none;
    outline: none;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f2f2f2;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* style the custom button */
.custom-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: #008CBA;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.2s ease-out;
}

.custom-button:hover {
    background-color: #006f8a;
}

.paintings-wrapper {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 3vw 0 0 0;
}